* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #0f172a;
    color: white;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover {
    color: #38bdf8;
}


.hero {
    text-align: center;
    padding: 80px 20px;
    background: #1e293b;
    color: white;
}

.hero h2 {
    font-size: 2.5rem;
}


.section {
    padding: 50px 20px;
    text-align: center;
}


.project {
    background: #f1f5f9;
    margin: 15px auto;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
}


footer {
    text-align: center;
    padding: 20px;
    background: #0f172a;
    color: white;
}